:root {
    --code-light-yellow: #f7d87c;
    --code-yellow: #eec980;
    --code-gold: #e6b85c;

    --code-dark-gold: #a67f59;
    --code-yellow-orange: #ee9900;
    --code-orange-red-2: #dd7e58;
    --code-orange-red: #dd4a68;

    --code-red: #db4c69;
    --code-dark-red: #990055;

    --code-green: #8fa727;
    --code-dark-green: #708025;

    --code-warm-grey: #b6b0aa;
    --code-medium-grey: #474747;
    --code-dark-grey: #1a1717;
    ;

}

.z-macro {
    color: var(--code-dark-red);
}

.z-code {
    color: var(--code-gold);
    background-color: var(--code-dark-grey);
}

.z-punctuation {
    color: var(--code-warm-grey);
}

.z-comment,
.z-punctuation.z-definition.z-comment {
    color: var(--code-warm-grey);
}

.z-punctuation.z-definition.z-variable,
.z-punctuation.z-definition.z-parameters,
.z-punctuation.z-definition.z-array {
    color: var(--code-warm-grey);
}

.z-keyword.z-operator {
    color: var(--code-dark-gold);
}

.z-keyword {
    color: var(--code-orange-red-2);
}

.z-variable {
    color: var(--code-gold);
}

.z-entity.z-name.z-function,
.z-meta.z-require,
.z-support.z-function.z-any-method {
    color: var(--code-orange-red);
}

.z-storage {
    color: var(--code-orange-red-2);
}

.z-support.z-function {
    color: var(--code-orange-red);
}

.z-string,
.z-punctuation.z-definition.z-string,
.z-constant.z-other.z-symbol,
.z-entity.z-other.z-inherited-class {
    color: var(--code-green);
}

.z-constant {
    color: var(--code-warm-grey);
}

.z-markup.z-bold,
.z-punctuation.z-definition.z-bold {
    font-weight: bold;
}

.z-markup.z-italic,
.z-punctuation.z-definition.z-italic {
    font-style: italic;
}

.z-constant.z-character.z-escape {
    color: var(--code-dark-green);
}

.z-function.z-parameters {
    color: var(--code-gold);
}
