{% extends "base.html" %}
{% block title %}hsubox.design{% endblock title %}

{% block content %}
{% set section = get_section(path="posts/_index.md") %}
<article>
    <h1>{{ section.title }}</h1>

    {% for page in section.pages %}
    <a href="{{ page.permalink | safe }}" class="blog-summary">
        <article>
            <div class="date">{{ page.date | date(formate="%d/%m/%Y") }}&nbsp;</div>
            <h3>{{ page.title }}</h3>
            <section>{{ page.description }}</section>
        </article>
    </a>
    {% endfor %}
</article>
{% endblock content %}